<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238483623448-rjl46sanalpini7dn4gv1cf4f05sh8sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238483623448-rjl46sanalpini7dn4gv1cf4f05sh8sn</string>
	<key>API_KEY</key>
	<string>AIzaSyCF2DR10youYWlOVSqwotzhfdJMHwFj_gI</string>
	<key>GCM_SENDER_ID</key>
	<string>238483623448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.fbtw.theStoreApp</string>
	<key>PROJECT_ID</key>
	<string>the-store-f98ac</string>
	<key>STORAGE_BUCKET</key>
	<string>the-store-f98ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238483623448:ios:5b32aa8828f9a588763d6d</string>
</dict>
</plist>